<div class="container">
    <div class="content">
        <div class="content-header">
            <h1 class="title">My<span> skills</span></h1>
            <h3 class="title"></h3>
        </div>
        <div class="text">
            <p>  - Programming Language: Python
            </p>
            <p>  - Frameworks: Flask, Django
            </p>
            <p>  - Databases: PostgreSQL, SQLite
            </p>
            <p>  - API integration: REST, Web Sockets
            </p>
            <p>  - Web technologies: HTML, HTMX, CSS
            </p>
            <p>  - Version Control: Git
            </p>
            <p>  - Testing: Pytest, unittest
            </p>
            <p>  - Container system: Docker
            </p>
            <p>  - CI system: GitHubActions
            </p>
            <p>  - Cloud Server: YandexCloud
            </p>
            <p>  - Operation system: Windows, Linux
            </p>
        </div>
    </div>
</div>
