<div class="container">
    <div class="content">

        <div class="content-header">
            <h1 class="title">My<span> skills:</span></h1>
        </div>

        <div class="text">
            <ul>
                <li>Programming Language: Python</li>
                <li>Frameworks: Flask, Django</li>
                <li>Databases: PostgreSQL, Microsoft SQL Server</li>
                <li>API integration: REST, Web Sockets</li>
                <li>Web technologies: HTML, HTMX, CSS</li>
                <li>Version Control: Git</li>
                <li>Testing: Pytest, unittest</li>
                <li>Container system: Docker</li>
                <li>CI system: GitHub Actions</li>
                <li>Cloud Server: Yandex Cloud</li>
                <li>Operation system: Windows, Linux</li>
            </ul>
        </div>

        <div class="content-header">
            <h1 class="title">My<span> projects:</span></h1>
        </div>

         <div class="text">
             <ul>
                <li><a href="https://github.com/SergeyCicada/portfolio_web">This is a project on GitHub</a></li>
                <li><a href="https://github.com/SergeyCicada/perseverance">Perseverance</a></li>
                <li><a href="https://github.com/SergeyCicada/educator">Educator</a></li>
             </ul>
        </div>

    </div>
</div>
