<div class="container">
    <div class="content">

        <div class="content-header">
            <h1 class="title">My<span> skills:</span></h1>
        </div>

            <div class="text">
                <p>Programming Language: Python</p>
                <p>Frameworks: Flask, Django</p>
                <p>Databases: PostgreSQL, Microsoft SQL Server</p>
                <p>API integration: REST, Web Sockets</p>
                <p>Web technologies: HTML, HTMX, CSS</p>
                <p>Version Control: Git</p>
                <p>Testing: Pytest, unittest</p>
                <p>Container system: Docker</p>
                <p>CI system: GitHub Actions</p>
                <p>Cloud Server: Yandex Cloud</p>
                <p>Operation system: Windows, Linux</p>
            </div>

        <div class="content-header">
            <h1 class="title">My<span> projects:</span></h1>
        </div>

         <div class="text">

             <p><a href="https://github.com/SergeyCicada/portfolio_web">This is a project on GitHub</a></p>
             <p><a href="https://github.com/SergeyCicada/perseverance">Perseverance</a></p>
             <p><a href="https://github.com/SergeyCicada/educator">Educator</a></p>

        </div>

    </div>
</div>
