{% extends 'base.html' %}
{% block content %}
    <!-- Main -->
    <div id="search-results">
    <div class="container">
        <div class="content">
            <div class="content-header">
                <h2 class="subtitle">My name is</h2>
                <h1 class="title">Sergey Evgrafov and I'm a <span>Python Developer</span></h1>
            </div>
            <div class="text">
                <p>    I am seeking an opportunity to join a team where I can utilize
                    my Python Backend development skills to create hign-perfomance
                    and scalable web applications.
                </p>
                <p>    My commitment to quality and ability to work in team will enable
                    me to make <br> a significant contribution to the success of the project.asd
                    Test
                </p>

            </div>
            <a class="btn"
               href="#"
               hx-get="/contacts/"
               hx-target="#search-results"
               hx-swap="innerHTML">
               Contact me
            </a>
        </div>
    </div>
    </div>
{% endblock %}