<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <title>Personal folio</title>
</head>
<body>

    <div class="page">

        <!-- Header -->
        <header class ="header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-brand">
                        PYTHONDEVELOPER
                    </div>

                    <div class="header-logo">
                       <\>
                    </div>

                    <nav class="header-nav">
                        <a class="header-nav-link" href="/">Home</a>
                        <a class="header-nav-link active" href="/about/">About me</a>
                        <a class="header-nav-link" href="/contacts/">Contacts</a>
                    </nav>
                </div>
            </div><!-- /.container -->
        </header>


        <div class="container">
            <div class="content">
                <div class="content-header">
                    <h1 class="title">My<span> skills</span></h1>
                    <h3 class="title"></h3>
                </div>
                <div class="text">
                    <p>  - Programming Language: Python
                    </p>
                    <p>  - Frameworks: Flask, Django
                    </p>
                    <p>  - Databases: PostgreSQL, SQLite
                    </p>
                    <p>  - API integration: REST, Web Sockets
                    </p>
                    <p>  - Web technologies: HTML, CSS
                    </p>
                    <p>  - Version Control: Git
                    </p>
                    <p>  - Testing: Pytest
                    </p>
                    <p>  - Container system: Docker, K8S
                    </p>
                    <p>  - CI system: GitHubCI
                    </p>
                    <p>  - Cloud Server: YandexCloud
                    </p>
                    <p>  - Operation system: Windows, Linux
                    </p>
                </div>
            </div>
        </div>

         <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="contacts">
                    <a class="contacts-link"  href="https://github.com/SergeyCicada">GitHub</a>
                    <a class="contacts-link" href="mailto:SergeyKelme@yandex.ru">SergeyKelme@yandex.ru</a>
                </div>
            </div>
        </footer>

    </div><!-- /.page -->

</body>
</html>