<!-- Header -->
<header class ="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-brand">
                PYTHONDEVELOPER
            </div>

            <div class="header-logo">
               <\>
            </div>

            <nav class="header-nav">
                <a class="header-nav-link" href="/">Home</a>
                <a class="header-nav-link"
                       href="#"
                       hx-get="/about/"
                       hx-target="#search-results"
                       hx-swap="innerHTML">About me
                </a>
                <a class="header-nav-link"
                       href="#"
                       hx-get="/contacts/"
                       hx-target="#search-results"
                       hx-swap="innerHTML">Contacts
                </a>
            </nav>
        </div>
    </div><!-- /.container -->
</header>