<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <title>Personal folio</title>
</head>
<body>

    <div class="page">

        <!-- Header -->
        <header class ="header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-brand">
                        PYTHONDEVELOPER
                    </div>

                    <div class="header-logo">
                       <\>
                    </div>

                    <nav class="header-nav">
                        <a class="header-nav-link active" href="/">Home</a>
                        <a class="header-nav-link" href="/about/">About me</a>
                        <a class="header-nav-link" href="/contacts/">Contacts</a>
                    </nav>
                </div>
            </div><!-- /.container -->
        </header>


        <!-- Main -->
        <div class="container">
            <div class="content">
                <div class="content-header">
                    <h2 class="subtitle">My name is</h2>
                    <h1 class="title">Sergey Evgrafov and I'm <span>Python Developer</span></h1>
                </div>
                <div class="text">
                    <p>    I am seeking an opportunity to join a team where i can utilize
                        my Python Backend development skills to create hign-perfomance
                        and scalable web applications.
                    </p>
                    <p>    My commitment to quality and ability to work in team will enable
                        me to make a significant contribution to the success of the project.
                    </p>
                </div>
                <a class="btn" href="/contacts/">Contact me</a>
            </div>
        </div>


        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="contacts">
                    <a class="contacts-link"  href="https://github.com/SergeyCicada">GitHub</a>
                    <a class="contacts-link" href="mailto:SergeyKelme@yandex.ru">SergeyKelme@yandex.ru</a>
                </div>
            </div>
        </footer>


    </div><!-- /.page -->

</body>
</html>