<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <title>Personal folio</title>
</head>
<body>

    <div class="page">

        <!-- Header -->
        <header class ="header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-brand">
                        PYTHONDEVELOPER
                    </div>

                    <div class="header-logo">
                       <\>
                    </div>

                    <nav class="header-nav">
                        <a class="header-nav-link" href="/">Home</a>
                        <a class="header-nav-link" href="/about/">About me</a>
                        <a class="header-nav-link" href="/contacts/">Contacts</a>
                    </nav>
                </div>
            </div><!-- /.container -->
        </header>


        <div class="container">
            <div class="content">
                <div class="content-header">
                    <h1 class="title">Thank for you<span> message</span></h1>
                    <h3 class="title"></h3>
                </div>
            </div>
        </div>

         <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="contacts">
                    <a class="contacts-link"  href="https://github.com/SergeyCicada">GitHub</a>
                    <a class="contacts-link" href="mailto:SergeyKelme@yandex.ru">SergeyKelme@yandex.ru</a>
                </div>
            </div>
        </footer>

    </div><!-- /.page -->

</body>
</html>